.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.error-text {
  color: red;
  font-size: 0.8em;
  margin-top: 0.5em;
}

.helper-text {
  color: #646cff;
  font-size: 0.8em;
  margin-top: 0.5em;
}

select {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #e9ecff;
  border-radius: 8px;
  border: 1px solid #646cff;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #4d56ff;
  width: 100%;
}

.select.disabled,
input.disabled {
  background-color: #cdcccc;
  color: #696969;
  cursor: not-allowed;
  border: 1px solid #888;
}


.multi-select-container {
    position: relative;
    width: 100%;
  }
  
  .multi-select-input {
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #e9ecff;
    border-radius: 8px;
    border: 1px solid #646cff;
    cursor: pointer;
    transition: border-color 0.25s;
    color: #4d56ff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .multi-select-input:hover {
    border-color: #4d56ff;
  }
  
  .multi-select-input.disabled {
    background-color: #cdcccc;
    color: #696969;
    cursor: not-allowed;
    border: 1px solid #888;
  }
  
  .dropdown-arrow {
    margin-left: 10px;
  }
  
  .multi-select-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #e9ecff;
    border: 1px solid #646cff;
    border-radius: 8px;
    z-index: 1;
    max-height: 200px;
    overflow-y: auto;
  }
  
  .multi-select-option {
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-family: inherit;
    font-weight: 500;
    color: #4d56ff;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.25s;
  }
  
  .multi-select-option input {
    margin-right: 0.5em;
  }
  
  .multi-select-option:hover {
    background-color: #d8def7;
  }
  
  .multi-select-option input:checked ~ label {
    background-color: #4d56ff;
    color: white;
  }