:root {
  --hover-background-color: rgba(0, 0, 0, 0.04);
  --main-font-color: rgba(0, 0, 0, 0.87);
  --helper-font-color: #646cff;
  --background-color: white;
  --border: 1px solid #646cff;
  --border-radius: 8px;
  --hover-border-color: #1976d2;
  --input-padding: 0.6em 1.2em;
}


.siyw-select-container {
  position: relative;
  width: 100%;
}

.siyw-select-container::after {
  content: "▼"; 
  position: absolute;
  right: 0.8em; 
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: rgba(0, 0, 0, 0.54);
  font-size: 0.8em; 
}

.siyw-select {
  padding: var(--input-padding); 
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  border-radius: var(--border-radius);
  border: 1px solid #646cff;
  cursor: pointer;
  transition: border-color 0.25s;
  color: var(--main-font-color);
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.error-text {
  color: red;
  font-weight: 600;
  font-size: 0.7em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: left;
}

.helper-text {
  color: var(--helper-font-color);
  font-weight: 600;
  font-size: 0.7em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: left;
}



